> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

Information regarding data
The first data set ('gun_data.xlsx') comes from FBI's National Instant Crminal Background Check System (NICS).  This data is used by gun shops to determine the eligibility of a prospective firearms/explosive buyer.  
The second data set ('U.S. census data.csv') is the U.S census data.

In this project, the overall trend of gun purchases for each states will be investigated first (in past 10 years).
Following that, the states with increasing trend and decreasing trend will be determiend and try to find factors which might contribute the trend.

### Import relevant libraries and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling


### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

## import data
df_gun = pd.read_excel('gun_data.xlsx', shee_tname='none')
df_census = pd.read_csv('U.S. Census Data.csv')

#### investigate gun_data

In [3]:
df_gun.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [4]:
df_gun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [5]:
df_gun['month'].sort_values(ascending=False)

0        2017-09
27       2017-09
29       2017-09
30       2017-09
31       2017-09
          ...
12450    1998-11
12451    1998-11
12452    1998-11
12453    1998-11
12484    1998-11
Name: month, Length: 12485, dtype: object

#### notes on gun data
Month column has the string data type, rather than datetime.
quite a lot of missing data across the types of gun and respective sellers, but only focus on the totals so this is not an issue.  
date ranges from 1998-11 to 2017-09.

#### investigate census data

In [6]:
df_census.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [7]:
df_census.tail(25)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
60,"Veteran-owned firms, 2012",NaN,"41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012",NaN,"316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",NaN,94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010",NaN,"50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,NaN,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: FIPS Code values are enclosed in quotes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Value Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1,Includes data not distributed by county.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Fact Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,(a),Includes persons reporting only one race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,(b),"Hispanics may be of any race, so also are incl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,(c),Economic Census - Puerto Rico data are not com...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Value Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,-,Either no or too few sample observations were ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,D,Suppressed to avoid disclosure of confidential...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,F,Fewer than 25 firms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,FN,Footnote on this item in place of data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,S,Suppressed; does not meet publication standards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,X,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Z,Value greater than zero but less than half uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

the first problem: bottom of the rows are notes regarding the data.  this should be dropped.  Also the fact notes in the second column is not needed

In [8]:
df_census = df_census.iloc[:65,:]
df_census = df_census.drop(['Fact Note'],axis=1)
df_census.tail()

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
60,"Veteran-owned firms, 2012","41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012","316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010","50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

The second problem is that the column and row should be switched for clearer view and easier data investigation.  For this transpose function is used.

In [9]:
df_census_t = df_census.T

In [10]:
df_census_t.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01"""
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02"""
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,"499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04"""
Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,14.40%,...,"231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05"""

remove the index at the top and add an index to the left.

In [11]:
## rename columns names using the first row
column_names = df_census_t.iloc[0,:]
column = []
for name in column_names:
    column.append(name)
df_census_t.columns = column
df_census_t.head()

,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01"""
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02"""
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,"499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04"""
Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,14.40%,...,"231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05"""

In [12]:
## add new column with state name
states_name = df_census_t.index
states_column = []
for state in states_name:
    states_column.append(state)
df_census_t.insert(loc=0,column='state', value=states_column) ## insert as a new column
df_census_t.head()

,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
Fact,Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...",...,"All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010",FIPS Code
Alabama,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01"""
Alaska,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02"""
Arizona,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,"499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04"""
Arkansas,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,"231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05"""

In [13]:
## adding new index 
new_index = []
for i in range(-1,len(df_census_t)-1): # start with -1 as the first row will be dropped later
    new_index.append(i)
df_census_t['']=new_index
df_census_t_newid = df_census_t.set_index('') ## set new_index as the index and drop the old index (state_names)
df_census_v2 = df_census_t_newid.iloc[1:,:65] 
## drop the first row as this is the duplicate of the column name, also the last column (FIPS code)
df_census_v2.head()

,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
,,,,,,,,,,,,,,,,,,,,,
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"
2,Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,...,"451,951","499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08"
3,Arkansas,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,...,"198,380","231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48"
4,California,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,...,"3,206,958","3,548,449","1,852,580","1,320,085","1,619,857","1,819,107","252,377","3,176,341",239.1,"155,779.22"

In [14]:
df_census_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 65 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   state                                                                                   50 non-null     object
 1   Population estimates, July 1, 2016,  (V2016)                                            50 non-null     object
 2   Population estimates base, April 1, 2010,  (V2016)                                      50 non-null     object
 3   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)   50 non-null     object
 4   Population, Census, April 1, 2010                                                       50 non-null     object
 5   Persons under 5 years, percent, July 1, 2016,  (V2016)                                  50 non-null     object
 6   Persons under 5 years, percent, April 1, 2010                                           50 non-null     object
 7   Persons under 18 years, percent, July 1, 2016,  (V2016)                                 50 non-null     object
 8   Persons under 18 years, percent, April 1, 2010                                          50 non-null     object
 9   Persons 65 years and over, percent,  July 1, 2016,  (V2016)                             50 non-null     object
 10  Persons 65 years and over, percent, April 1, 2010                                       50 non-null     object
 11  Female persons, percent,  July 1, 2016,  (V2016)                                        50 non-null     object
 12  Female persons, percent, April 1, 2010                                                  50 non-null     object
 13  White alone, percent, July 1, 2016,  (V2016)                                            50 non-null     object
 14  Black or African American alone, percent, July 1, 2016,  (V2016)                        50 non-null     object
 15  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)                50 non-null     object
 16  Asian alone, percent, July 1, 2016,  (V2016)                                            50 non-null     object
 17  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)       50 non-null     object
 18  Two or More Races, percent, July 1, 2016,  (V2016)                                      50 non-null     object
 19  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                     50 non-null     object
 20  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                    50 non-null     object
 21  Veterans, 2011-2015                                                                     50 non-null     object
 22  Foreign born persons, percent, 2011-2015                                                50 non-null     object
 23  Housing units,  July 1, 2016,  (V2016)                                                  50 non-null     object
 24  Housing units, April 1, 2010                                                            50 non-null     object
 25  Owner-occupied housing unit rate, 2011-2015                                             50 non-null     object
 26  Median value of owner-occupied housing units, 2011-2015                                 50 non-null     object
 27  Median selected monthly owner costs -with a mortgage, 2011-2015                         50 non-null     object
 28  Median selected monthly owner costs -without a mortgage, 2011-2015                      50 non-null     object
 29  Median gross rent, 2011-2015                                                            50 non-null     object
 30  Building permits, 2016                                                                  50 non-null     object
 31  Households, 2011-2015                                                                   50 non-null     object
 32  Persons per household, 2011-2015                                                        50 non-null     object
 33  Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015              50 non-null     object
 34  Language other than English spoken at home, percent of persons age 5 years+, 2011-2015  50 non-null     object
 35  High school graduate or higher, percent of persons age 25 years+, 2011-2015             50 non-null     object
 36  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015                50 non-null     object
 37  With a disability, under age 65 years, percent, 2011-2015                               50 non-null     object
 38  Persons  without health insurance, under age 65 years, percent                          50 non-null     object
 39  In civilian labor force, total, percent of population age 16 years+, 2011-2015          50 non-null     object
 40  In civilian labor force, female, percent of population age 16 years+, 2011-2015         50 non-null     object
 41  Total accommodation and food services sales, 2012 ($1,000)                              50 non-null     object
 42  Total health care and social assistance receipts/revenue, 2012 ($1,000)                 50 non-null     object
 43  Total manufacturers shipments, 2012 ($1,000)                                            50 non-null     object
 44  Total merchant wholesaler sales, 2012 ($1,000)                                          50 non-null     object
 45  Total retail sales, 2012 ($1,000)                                                       50 non-null     object
 46  Total retail sales per capita, 2012                                                     50 non-null     object
 47  Mean travel time to work (minutes), workers age 16 years+, 2011-2015                    50 non-null     object
 48  Median household income (in 2015 dollars), 2011-2015                                    50 non-null     object
 49  Per capita income in past 12 months (in 2015 dollars), 2011-2015                        50 non-null     object
 50  Persons in poverty, percent                                                             50 non-null     object
 51  Total employer establishments, 2015                                                     50 non-null     object
 52  Total employment, 2015                                                                  50 non-null     object
 53  Total annual payroll, 2015 ($1,000)                                                     50 non-null     object
 54  Total employment, percent change, 2014-2015                                             50 non-null     object
 55  Total nonemployer establishments, 2015                                                  50 non-null     object
 56  All firms, 2012                                                                         50 non-null     object
 57  Men-owned firms, 2012                                                                   50 non-null     object
 58  Women-owned firms, 2012                                                                 50 non-null     object
 59  Minority-owned firms, 2012                                                              50 non-null     object
 60  Nonminority-owned firms, 2012                                                           50 non-null     object
 61  Veteran-owned firms, 2012                                                               50 non-null     object
 62  Nonveteran-owned firms, 2012                                                            50 non-null     object
 63  Population per square mile, 2010                                                        50 non-null     object
 64  Land area in square miles, 2010                                                         50 non-null     object
dtypes: object(65)
memory usage: 25.8+ KB

In [15]:
## lets convert the dtype to float
df_census_v3 = df_census_v2.copy()
census_columns = df_census_v3.columns.to_list()
census_columns.remove('state')
for col in census_columns:
    if 'percent' in col or col=='Owner-occupied housing unit rate, 2011-2015':
        for i in range(0,df_census_v3.shape[0]):
            if '%' in df_census_v3.loc[i,col]:
                df_census_v3.loc[i,col] = pd.to_numeric(df_census_v3.loc[i,col].replace('%', ''))
            else:
                df_census_v3.loc[i,col] = pd.to_numeric(df_census_v3.loc[i,col],errors='coerce')*100
    else:
        df_census_v3.loc[:,col] = df_census_v3.loc[:,col].str.replace(',', '')
        df_census_v3.loc[:,col] = pd.to_numeric(df_census_v3.loc[:,col].str.replace('$', ''),errors='coerce')

In [16]:
df_census_v3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 65 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   state                                                                                   50 non-null     object
 1   Population estimates, July 1, 2016,  (V2016)                                            50 non-null     int64
 2   Population estimates base, April 1, 2010,  (V2016)                                      50 non-null     int64
 3   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)   50 non-null     object
 4   Population, Census, April 1, 2010                                                       50 non-null     int64
 5   Persons under 5 years, percent, July 1, 2016,  (V2016)                                  50 non-null     object
 6   Persons under 5 years, percent, April 1, 2010                                           50 non-null     object
 7   Persons under 18 years, percent, July 1, 2016,  (V2016)                                 50 non-null     object
 8   Persons under 18 years, percent, April 1, 2010                                          50 non-null     object
 9   Persons 65 years and over, percent,  July 1, 2016,  (V2016)                             50 non-null     object
 10  Persons 65 years and over, percent, April 1, 2010                                       50 non-null     object
 11  Female persons, percent,  July 1, 2016,  (V2016)                                        50 non-null     object
 12  Female persons, percent, April 1, 2010                                                  50 non-null     object
 13  White alone, percent, July 1, 2016,  (V2016)                                            50 non-null     object
 14  Black or African American alone, percent, July 1, 2016,  (V2016)                        50 non-null     object
 15  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)                50 non-null     object
 16  Asian alone, percent, July 1, 2016,  (V2016)                                            50 non-null     object
 17  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)       46 non-null     object
 18  Two or More Races, percent, July 1, 2016,  (V2016)                                      50 non-null     object
 19  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                     50 non-null     object
 20  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                    50 non-null     object
 21  Veterans, 2011-2015                                                                     50 non-null     int64
 22  Foreign born persons, percent, 2011-2015                                                50 non-null     object
 23  Housing units,  July 1, 2016,  (V2016)                                                  50 non-null     int64
 24  Housing units, April 1, 2010                                                            50 non-null     int64
 25  Owner-occupied housing unit rate, 2011-2015                                             50 non-null     object
 26  Median value of owner-occupied housing units, 2011-2015                                 50 non-null     int64
 27  Median selected monthly owner costs -with a mortgage, 2011-2015                         50 non-null     int64
 28  Median selected monthly owner costs -without a mortgage, 2011-2015                      50 non-null     int64
 29  Median gross rent, 2011-2015                                                            50 non-null     int64
 30  Building permits, 2016                                                                  50 non-null     int64
 31  Households, 2011-2015                                                                   50 non-null     int64
 32  Persons per household, 2011-2015                                                        50 non-null     float64
 33  Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015              50 non-null     object
 34  Language other than English spoken at home, percent of persons age 5 years+, 2011-2015  50 non-null     object
 35  High school graduate or higher, percent of persons age 25 years+, 2011-2015             50 non-null     object
 36  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015                50 non-null     object
 37  With a disability, under age 65 years, percent, 2011-2015                               50 non-null     object
 38  Persons  without health insurance, under age 65 years, percent                          50 non-null     object
 39  In civilian labor force, total, percent of population age 16 years+, 2011-2015          50 non-null     object
 40  In civilian labor force, female, percent of population age 16 years+, 2011-2015         50 non-null     object
 41  Total accommodation and food services sales, 2012 ($1,000)                              50 non-null     int64
 42  Total health care and social assistance receipts/revenue, 2012 ($1,000)                 50 non-null     int64
 43  Total manufacturers shipments, 2012 ($1,000)                                            48 non-null     float64
 44  Total merchant wholesaler sales, 2012 ($1,000)                                          50 non-null     int64
 45  Total retail sales, 2012 ($1,000)                                                       50 non-null     int64
 46  Total retail sales per capita, 2012                                                     50 non-null     int64
 47  Mean travel time to work (minutes), workers age 16 years+, 2011-2015                    50 non-null     float64
 48  Median household income (in 2015 dollars), 2011-2015                                    50 non-null     int64
 49  Per capita income in past 12 months (in 2015 dollars), 2011-2015                        50 non-null     int64
 50  Persons in poverty, percent                                                             50 non-null     object
 51  Total employer establishments, 2015                                                     50 non-null     int64
 52  Total employment, 2015                                                                  50 non-null     int64
 53  Total annual payroll, 2015 ($1,000)                                                     50 non-null     int64
 54  Total employment, percent change, 2014-2015                                             49 non-null     object
 55  Total nonemployer establishments, 2015                                                  50 non-null     int64
 56  All firms, 2012                                                                         50 non-null     int64
 57  Men-owned firms, 2012                                                                   50 non-null     int64
 58  Women-owned firms, 2012                                                                 50 non-null     int64
 59  Minority-owned firms, 2012                                                              50 non-null     int64
 60  Nonminority-owned firms, 2012                                                           50 non-null     int64
 61  Veteran-owned firms, 2012                                                               50 non-null     int64
 62  Nonveteran-owned firms, 2012                                                            50 non-null     int64
 63  Population per square mile, 2010                                                        50 non-null     float64
 64  Land area in square miles, 2010                                                         50 non-null     float64
dtypes: float64(5), int64(30), object(30)
memory usage: 28.3+ KB

## question
data types still remains object, but can compute...

In [17]:
df_census_v3.mean()

Population estimates, July 1, 2016,  (V2016)                                             6.448927e+06
Population estimates base, April 1, 2010,  (V2016)                                       6.163127e+06
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)    4.180000e+00
Population, Census, April 1, 2010                                                        6.162876e+06
Persons under 5 years, percent, July 1, 2016,  (V2016)                                   6.160000e+00
                                                                                             ...
Nonminority-owned firms, 2012                                                            3.806367e+05
Veteran-owned firms, 2012                                                                5.050272e+04
Nonveteran-owned firms, 2012                                                             4.817082e+05
Population per square mile, 2010                                                         1.949620e+02
Land area in square miles, 2010                                                          7.063689e+04
Length: 64, dtype: float64

In [18]:
## check the null result
df_census_v3.columns[df_census_v3.isna().any()].to_list()

['Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
 'Total manufacturers shipments, 2012 ($1,000)',
 'Total employment, percent change, 2014-2015']

In [19]:
## 'native hawaiian...' is null since the data is too small, we'll replace it with 0
## other two, we'll simply drop it.
df_census_v4 = df_census_v3.drop(['Total manufacturers shipments, 2012 ($1,000)','Total employment, percent change, 2014-2015'],axis=1)
df_census_v4= df_census_v4.fillna(0)
df_census_v4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 63 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   state                                                                                   50 non-null     object
 1   Population estimates, July 1, 2016,  (V2016)                                            50 non-null     int64
 2   Population estimates base, April 1, 2010,  (V2016)                                      50 non-null     int64
 3   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)   50 non-null     float64
 4   Population, Census, April 1, 2010                                                       50 non-null     int64
 5   Persons under 5 years, percent, July 1, 2016,  (V2016)                                  50 non-null     float64
 6   Persons under 5 years, percent, April 1, 2010                                           50 non-null     float64
 7   Persons under 18 years, percent, July 1, 2016,  (V2016)                                 50 non-null     float64
 8   Persons under 18 years, percent, April 1, 2010                                          50 non-null     float64
 9   Persons 65 years and over, percent,  July 1, 2016,  (V2016)                             50 non-null     float64
 10  Persons 65 years and over, percent, April 1, 2010                                       50 non-null     float64
 11  Female persons, percent,  July 1, 2016,  (V2016)                                        50 non-null     float64
 12  Female persons, percent, April 1, 2010                                                  50 non-null     float64
 13  White alone, percent, July 1, 2016,  (V2016)                                            50 non-null     float64
 14  Black or African American alone, percent, July 1, 2016,  (V2016)                        50 non-null     float64
 15  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)                50 non-null     float64
 16  Asian alone, percent, July 1, 2016,  (V2016)                                            50 non-null     float64
 17  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)       50 non-null     float64
 18  Two or More Races, percent, July 1, 2016,  (V2016)                                      50 non-null     float64
 19  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                     50 non-null     float64
 20  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                    50 non-null     float64
 21  Veterans, 2011-2015                                                                     50 non-null     int64
 22  Foreign born persons, percent, 2011-2015                                                50 non-null     float64
 23  Housing units,  July 1, 2016,  (V2016)                                                  50 non-null     int64
 24  Housing units, April 1, 2010                                                            50 non-null     int64
 25  Owner-occupied housing unit rate, 2011-2015                                             50 non-null     float64
 26  Median value of owner-occupied housing units, 2011-2015                                 50 non-null     int64
 27  Median selected monthly owner costs -with a mortgage, 2011-2015                         50 non-null     int64
 28  Median selected monthly owner costs -without a mortgage, 2011-2015                      50 non-null     int64
 29  Median gross rent, 2011-2015                                                            50 non-null     int64
 30  Building permits, 2016                                                                  50 non-null     int64
 31  Households, 2011-2015                                                                   50 non-null     int64
 32  Persons per household, 2011-2015                                                        50 non-null     float64
 33  Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015              50 non-null     float64
 34  Language other than English spoken at home, percent of persons age 5 years+, 2011-2015  50 non-null     float64
 35  High school graduate or higher, percent of persons age 25 years+, 2011-2015             50 non-null     float64
 36  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015                50 non-null     float64
 37  With a disability, under age 65 years, percent, 2011-2015                               50 non-null     float64
 38  Persons  without health insurance, under age 65 years, percent                          50 non-null     float64
 39  In civilian labor force, total, percent of population age 16 years+, 2011-2015          50 non-null     float64
 40  In civilian labor force, female, percent of population age 16 years+, 2011-2015         50 non-null     float64
 41  Total accommodation and food services sales, 2012 ($1,000)                              50 non-null     int64
 42  Total health care and social assistance receipts/revenue, 2012 ($1,000)                 50 non-null     int64
 43  Total merchant wholesaler sales, 2012 ($1,000)                                          50 non-null     int64
 44  Total retail sales, 2012 ($1,000)                                                       50 non-null     int64
 45  Total retail sales per capita, 2012                                                     50 non-null     int64
 46  Mean travel time to work (minutes), workers age 16 years+, 2011-2015                    50 non-null     float64
 47  Median household income (in 2015 dollars), 2011-2015                                    50 non-null     int64
 48  Per capita income in past 12 months (in 2015 dollars), 2011-2015                        50 non-null     int64
 49  Persons in poverty, percent                                                             50 non-null     float64
 50  Total employer establishments, 2015                                                     50 non-null     int64
 51  Total employment, 2015                                                                  50 non-null     int64
 52  Total annual payroll, 2015 ($1,000)                                                     50 non-null     int64
 53  Total nonemployer establishments, 2015                                                  50 non-null     int64
 54  All firms, 2012                                                                         50 non-null     int64
 55  Men-owned firms, 2012                                                                   50 non-null     int64
 56  Women-owned firms, 2012                                                                 50 non-null     int64
 57  Minority-owned firms, 2012                                                              50 non-null     int64
 58  Nonminority-owned firms, 2012                                                           50 non-null     int64
 59  Veteran-owned firms, 2012                                                               50 non-null     int64
 60  Nonveteran-owned firms, 2012                                                            50 non-null     int64
 61  Population per square mile, 2010                                                        50 non-null     float64
 62  Land area in square miles, 2010                                                         50 non-null     float64
dtypes: float64(32), int64(30), object(1)
memory usage: 27.5+ KB

In [20]:
## dropping the federal district and territories.  (these are not in included in the census)
state_list_gun = df_gun['state'].unique().tolist()
state_list_census = df_census_v3['state'].unique().tolist()
non_state = np.setdiff1d(state_list_gun, state_list_census).tolist()
non_state

['District of Columbia',
 'Guam',
 'Mariana Islands',
 'Puerto Rico',
 'Virgin Islands']

In [21]:
## drop these from the df_gun
df_gun_v2 = df_gun[~df_gun['state'].isin(non_state)]
df_gun_v2

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12480,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
12481,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
12482,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
12483,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
12484,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

### create a new table by joining gun and census. picking only necessary columns

population data are on April 2010 and July 2016.  Extract gun

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [22]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [23]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

# general trend in gun purchases
df_gun_v2 = df_gun_v2[['month', 'state', 'totals']]
df_gun_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11350 entries, 0 to 12484
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   month   11350 non-null  object
 1   state   11350 non-null  object
 2   totals  11350 non-null  int64
dtypes: int64(1), object(2)
memory usage: 354.7+ KB

In [24]:
## drop these from the df_gun
df_gun_v2 = df_gun[~df_gun['state'].isin(non_state)]
df_gun_v2

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12480,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
12481,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
12482,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
12483,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
12484,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [25]:
# 1998 and 2017 does not have full-year data, so we'll drop them
df_gun_v3=df_gun_v3.loc[(df_gun_v3.date.dt.year != 2017)&(df_gun_v3.date.dt.year != 1998)]

NameError: name 'df_gun_v3' is not defined

In [ ]:
## groupby total purchase per year
df_gun_per_year=df_gun_v3.groupby([df_gun_v3.date.dt.year]).sum()
df_gun_per_year.head()

In [ ]:
## make the 3year MA 
df_gun_per_year['3_year_MA'] = df_gun_per_year.iloc[:,0].rolling(window=3).mean()
df_gun_per_year

In [ ]:
## make the units in million
df_gun_per_year['3_year_MA'] /= 1000000

In [ ]:
## plot the moving average

fig1=df_gun_per_year.plot.line(y='3_year_MA')
plt.title('Total Gun Purchase in the U.S.')
plt.xlabel('year')
plt.ylabel('Total Amount of Guns Sold (milion)')

plt.show()

### see the increase state-wise
#### find out absolute and percentage increase

In [ ]:
# first needs to combine two tables
## make a column with total gun purchase in 2010 & 2016
df_gun_2010=df_gun_v3[df_gun_v3.date.dt.year == 2010]
df_gun_2016=df_gun_v3[df_gun_v3.date.dt.year == 2016]
df_gun_2016.head()

In [ ]:
df_gun_2010_per_state = df_gun_2010.groupby(['state',df_gun_2010.date.dt.year]).sum().reset_index() 
## reset_index() to use a resulting grouped table as a new dataframe.
df_gun_2016_per_state = df_gun_2016.groupby(['state']).sum().reset_index()
df_gun_2010_per_state.head()

In [ ]:
## make a column with population in each state 
df_popl = df_census_v4.iloc[:,0:11]
## make the column for eligible age (i.e. 100 - percentage of person under 18)
df_popl['perc_popl_over_18_10'] = 100-df_popl.iloc[:,8]
df_popl['perc_popl_over_18_16'] = 100-df_popl.iloc[:,7]
df_popl['popl_over_18_10'] = df_popl['perc_popl_over_18_10']/100*df_popl.iloc[:,2] ## population in 2010
df_popl['popl_over_18_16'] = df_popl['perc_popl_over_18_16']/100*df_popl.iloc[:,1] ## population in 2016
df_popl.head()

In [ ]:
df_popl.iloc[:,[0,13,14]].head()

In [ ]:
# join df_popl and df_gun_2010/2016_per_state tables
df_gun_per_state_comb = df_gun_2010_per_state.merge(df_gun_2016_per_state, left_on='state', right_on='state', how='inner')

In [ ]:
# drop a date column and rename columns 
df_gun_per_state_comb_v2 = df_gun_per_state_comb.drop(['date'],axis=1)
df_gun_sale_summary = df_gun_per_state_comb_v2.rename(columns={'totals_x':'gun_sale_10','totals_y':'gun_sale_16'})
df_gun_sale_summary.head()

In [ ]:
## combine popl table
df_summary = df_gun_sale_summary.merge(df_popl.iloc[:,[0,13,14]], left_on='state', right_on='state', how='inner')
df_summary.head()

In [ ]:
# calculate sales_per_capita and increase percentage
df_summary['sales_per_legal_capita_10'] = df_summary['gun_sale_10']/df_summary['popl_over_18_10']
df_summary['sales_per_legal_capita_16'] = df_summary['gun_sale_16']/df_summary['popl_over_18_16']
df_summary['sales_change_perc'] = (df_summary.loc[:,'sales_per_legal_capita_16']-df_summary.loc[:,'sales_per_legal_capita_10'])/df_summary.loc[:,'sales_per_legal_capita_10']*100

In [ ]:
df_summary.head()

In [ ]:
mean_sales_per_capita = df_summary['sales_per_legal_capita_16'].mean()
top = df_summary.nlargest(10,'sales_per_legal_capita_16').sort_values(by=['sales_per_legal_capita_16'])
bottom = df_summary.nsmallest(10,'sales_per_legal_capita_16')

fig, (ax1,ax2) = plt.subplots(1,2, sharey=True, figsize=(10,5))
fig.suptitle('Gun Sales Per Capita in 2016')


bottom.plot.bar(x='state', y='sales_per_legal_capita_16', ax=ax1, legend=False)
ax1.set_ylim((0,1.2))
ax1.set_title('Bottom 10')
ax1.set(xlabel='',ylabel='Gun Sales Per Capita')


top.plot.bar(x='state', y='sales_per_legal_capita_16', ax=ax2, legend = False)
ax2.set_title('Top 10')
ax2.set(xlabel='')

In [ ]:
mean_sales_per_capita = df_summary['sales_change_perc'].mean()
top = df_summary.nlargest(10,'sales_change_perc').sort_values(by=['sales_change_perc'])
bottom = df_summary.nsmallest(10,'sales_change_perc')

fig, (ax1,ax2) = plt.subplots(1,2, sharey=True, figsize=(10,5))
fig.suptitle('Change in Gun Sales Per Capita from 2010 to 2016')


bottom.plot.bar(x='state', y='sales_change_perc', ax=ax1, legend=False)
ax1.set_ylim((-60,310))
ax1.set_title('Bottom 10')
ax1.set(xlabel='',ylabel='Change in Gun Sales (%)')


top.plot.bar(x='state', y='sales_change_perc', ax=ax2, legend = False)
ax2.set_title('Top 10')
ax2.set(xlabel='')

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

In [ ]:
## compare factors that might affect the large/small increase in gun sale

In [ ]:
## for the 

state_abb = pd.read_csv('state_abb.csv')
state_abb_v2=state_abb.drop(['Abbrev'],axis=1)
state_abb_v3=state_abb_v2.rename(columns={'State':'state'})

In [ ]:
df_summary_v2 = df_summary.merge(state_abb_v3, left_on='state', right_on='state', how='inner')
df_summary_v2.head()

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data=go.Choropleth(
    locations = df_summary_v2['Code'],
    z=df_summary_v2['sales_change_perc'],
    locationmode='USA-states',
    colorscale='Portland',
    colorbar_title='Gun Purchase Change',))

fig.update_layout(
    geo_scope='usa',)

fig.show()

In [ ]:
## comparison with the standard federal regions
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://www.hhs.gov/sites/default/files/iea/images/regionsmap.jpg")

In [ ]:
## it looks like region 5 with the high increase, and region8 is low increase.
region_5 = ['Illinois','Indiana', 'Michigan','Minnesota','Ohio','Wisconsin']
region_8 = ['Colorado','Montana', 'North Dakota','South Dakota','Utah', 'Wyoming']

In [ ]:
df_summary_v2.head()

In [ ]:
df_summary_v2.iloc[:,np.r_[0,3:8]].head()

In [ ]:
df_census_gun_sale = df_census_v4.merge(df_summary_v2.iloc[:,np.r_[0,3:8]], left_on='state', right_on='state', how='inner')
df_census_gun_sale.head()

In [ ]:
df_census_gun_sale_without_ky = df_census_gun_sale[df_census_gun_sale['state']!='Kentucky']
df_census_gun_sale_without_ky.head()

In [ ]:
### need separate matrix without Kentucky
corr_matrix = df_census_gun_sale.corr()
corr_matrix_without_ky = df_census_gun_sale_without_ky.corr()

### factors contributes to the number of gun sales

In [ ]:
corr_sales = corr_matrix_without_ky['sales_per_legal_capita_16'].sort_values(ascending=False).where(lambda x: abs(x)>0.40).dropna()
corr_sales

In [ ]:
corr_sales_cols = corr_sales.index.to_list()[2:] ## exclude sales_per_legal_capita
for col in corr_sales_cols:
    df_census_gun_sale_without_ky.plot.scatter(x=col,y='sales_per_legal_capita_16',c='DarkBlue')

### whats the finding?
Housing category(owner occupied housing unit rate (+ve), Median value of owner-occupied housing units (-ve), Median selected monthly owner costs(-ve) ,Median gross rent (-ve))
Racial factor (White alone, not Hispanic or Latino(+ve), Asian alone(-ve), Language other than English spoken at home(-ve),  Foreign born persons(-ve))
Mean travel time to work (minutes), Population per square mile (country-side?)

In [ ]:
df_census_gun_sale_without_ky['Median gross rent, 2011-2015'].corr(
df_census_gun_sale_without_ky['Owner-occupied housing unit rate, 2011-2015'])

In [ ]:
plt.scatter(x=df_census_gun_sale_without_ky['Median gross rent, 2011-2015'],
             y=df_census_gun_sale_without_ky['Population per square mile, 2010'])

In [ ]:
df_census_gun_sale_without_ky['Mean travel time to work (minutes), workers age 16 years+, 2011-2015'].corr(
df_census_gun_sale_without_ky['Population per square mile, 2010'])

In [ ]:
plt.scatter(x=df_census_gun_sale_without_ky['Mean travel time to work (minutes), workers age 16 years+, 2011-2015'],
             y=df_census_gun_sale_without_ky['Population per square mile, 2010'])

In [ ]:
plt.scatter(x=df_census_gun_sale_without_ky['Owner-occupied housing unit rate, 2011-2015'],
             y=df_census_gun_sale_without_ky['Median value of owner-occupied housing units, 2011-2015'])

In [ ]:
corr_sales_change=corr_matrix['sales_change_perc'].sort_values().sort_values(ascending=False).where(lambda x:abs(x)>0.35).dropna()
corr_sales_change

In [ ]:
## 
corr_sales_change_cols = corr_sales_change.index.to_list()[1:] ## exclude sales_change_perc
for col in corr_sales_change_cols:
    df_census_gun_sale.plot.scatter(x=col,y='sales_change_perc',c='DarkBlue')

In [ ]:
## regional specific analysis
region_5 = ['Illinois','Indiana', 'Michigan','Minnesota','Ohio','Wisconsin']
region_8 = ['Colorado','Montana', 'North Dakota','South Dakota','Utah', 'Wyoming']

In [ ]:
df_regional=df_census_gun_sale[df_census_gun_sale['state'].isin(region_5+region_8)]
df_regional['region'] = np.where(df_regional.loc[:,'state'].isin(region_5),5,8)
df_regional

In [ ]:
## lets check if there are any significant difference in two regions

In [ ]:
df_regional_mean = df_regional.groupby(['region']).mean()
df_regional_mean

In [ ]:
df_regional_mean['Total health care and social assistance receipts/revenue, 2012 ($1,000)']

In [ ]:
## person under 18 cannot purchase in the most state (* except Alaska, Minesota, and Massachusetts), so make sense 
## there are negative correlation with gun purchase and  https://lawcenter.giffords.org/gun-laws/policy-areas/who-can-have-a-gun/minimum-age/

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!